
body {
  background: #232323;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(26, 26, 46, 0.6);
  color: #fff;
  padding: 1.2rem 2rem;
  box-shadow: 0 4px 16px rgba(48, 232, 191, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(48, 232, 191, 0.3);
  margin: 2rem auto 2rem auto;
  max-width: 1100px;
  backdrop-filter: blur(10px);
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__brand {
  font-size: 2rem;
  font-weight: 700;
  color: #30e8bf;
  letter-spacing: 2px;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.navbar__links a {
  color: #fff;
  background: #3193bb;
  text-decoration: none;
  font-weight:rem;
  padding: 0.6rem 1.3rem;
  border-radius: 6px;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  display: inline-block;
  white-space: nowrap
  display: inline-block;
}

.navbar__links a:hover {
  background: #30e8bf;
  color: #232323;
}

.navbar__links a.active {
  background: #30e8bf;
  color: #232323;
  box-shadow: 0 4px 12px rgba(48, 232, 191, 0.4);
}
